body {
  text-align: center;
  padding: 2rem;
  background-color: rgb(232, 232, 232);
}

img {
  max-width: 200px;
  max-height: 200px;
}

.card {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
  gap:3rem;
  justify-content: center;
}

.container {
  overflow:hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
}

li {
  list-style: none;
}

.district_box {
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  justify-content: center;
  /* border: 2px solid black; */
  margin: 20px;
}

.district_color {
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-size: small;
}