body {
  text-align: center;
  margin: 2rem;
}

img {
  max-width: 300px;
  max-height: 200px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 00px;
  gap:3rem;
  justify-content: center;
}

.container {
  overflow:hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

li {
  list-style: none;
}